:root {
  font-family: "Inter", "Segoe UI", Helvetica, Arial, sans-serif;
  line-height: 1.4;
  font-weight: 400;
  color: #0f172a;
  background-color: #f1f5f9;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: inherit;
  color: inherit;
}

a {
  color: inherit;
}

#root {
  min-height: 100vh;
}
